Introduction, Data Types, and Variables

# Integer

In [1]:
print(10)
print(type(10))

10
<class 'int'>

# Floating-Point Numbers

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings

In [5]:
a = 'hacktiv8'
print(a)
print(type(a))

hacktiv8
<class 'str'>

In [6]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

# Boolean

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Names

In [8]:
var = 23.5
print(var)
print(type(var))

var = "Now I'm a string"
print(var)
print(type(var))

23.5
<class 'float'>
Now I'm a string
<class 'str'>

In [9]:
name = "ANI"
NAME = "ANITA"

print(name)
print(NAME)

ANI
ANITA

# Operator and Expressions

In [10]:
a = 10
b = 20
a + b

30

## Arithmetic Operators

In [12]:
a = 10
b = 5

print(a + b)
print(a - b) 
print(a * b) 
print(a / b)  #division
print(a // b) #integer division 
print(a % b)  #Mod
print(a ** b) #Pangkat

15
5
50
2.0
2
0
100000

## Comparison Operators

In [16]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

# String Manipulation

In [23]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t) #foobar
print(s + t + u) #foobarbaz
print(s + t + u)

con_str = 'Hacktiv8' + s
print(con_str)

hck = 'Hacktiv8'
print (2 * hck)

foobar
foobarbaz
foobarbaz
Hacktiv8foo
Hacktiv8Hacktiv8

## In Operators

In [24]:
s = 'foo'
print(s in 'That food for us')
s = 'fos'
print(s in 'That good for us')

True
False

## Case Conversion

In [28]:
s = 'HacKTiv8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# SwapCase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACktIV8
Hacktiv8
HACKTIV8

# List Python

In [30]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

b = ['fod', 'bad', 'baw', 'qux']
print(a==b)

['foo', 'bar', 'baz', 'qux']
False

In [35]:
a = [21.43, 'footbar', 3, 4, 'bark', True]
print(a)
print(a[0])
print(a[3])
print(a[-1])
print(a[2:4])
print(a + ['Add', 'yow'])
print(a * 2)

[21.43, 'footbar', 3, 4, 'bark', True]
21.43
4
True
[3, 4]
[21.43, 'footbar', 3, 4, 'bark', True, 'Add', 'yow']
[21.43, 'footbar', 3, 4, 'bark', True, 21.43, 'footbar', 3, 4, 'bark', True]

## Modifying List

In [37]:
a = [21.43, 'footbar', 3, 4, 'bark', True]
print(a)

a[1] = 'New'
a[-3] = 1000
del a[0]

print(a)

[21.43, 'footbar', 3, 4, 'bark', True]
['New', 3, 1000, 'bark', True]

In [39]:
# Multiple List

a = ['foo', 'faa', 'fii', 'Hoee', 'Hae', 'Gud']
print(a[1:3])

a[1:3] = [1, 2]
print(a)

['faa', 'fii']
['foo', 1, 2, 'Hoee', 'Hae', 'Gud']

# Tuples

In [40]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [41]:
print(t[0])
print(t[3])
print(t[-1])

foo
qux
corge

In [43]:
t = (2, 4, 6, 8)
print(t)
print(type(t))

single_t = (10)
print(single_t)
print(type(single_t))


#Single Tuple declaration
single_t = (10,)
print(single_t)
print(type(single_t))

(2, 4, 6, 8)
<class 'tuple'>
10
<class 'int'>
(10,)
<class 'tuple'>

# Dictionary

In [46]:
MLB_team = {
   'Colorado': 'Rockies',
   'Boston': 'Red Sox',
   'Minnesota': 'Twins',
   'Milwaukee': 'Brewers',
   'Seattle': 'Mariners'
}

print(MLB_team['Boston'])
MLB_team['Boston'] = "White Sox"
print(MLB_team['Boston'])

del MLB_team['Seattle']
print(MLB_team)

Red Sox
White Sox
{'Colorado': 'Rockies', 'Boston': 'White Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers'}

In [54]:
person = {}
print(type(person))

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person

<class 'dict'>

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [56]:
print(person['children'][1:2])

['Betty']

In [3]:
d = {'a' : 10, 'b' : 20, 'c' : 30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [7]:
p1_age = 42
p2_age = 16
p3_age = 71

someone = (
    (p1_age >= 18 and p1_age <= 65) 
    or (p2_age >= 18 and p2_age <= 65) 
    or (p3_age >= 18 and p3_age <= 65)
)
someone

True